@font-face
{
    font-family: 'MalloryCondensed-Bold';
    src: local('MalloryCondensed-Bold'),url('MalloryCond-Bold.otf') format('opentype');
}

html,body {
    font-family: 'MalloryCondensed-Bold', sans-serif; 
    font-size: 42px;
    line-height: 1.3;
}

html {
    overflow-x: hidden;
}

.content {
    font-size: 42px;
    margin-bottom: 0.5em;
}

.thanks {
    font-size: 42px;
    margin-bottom: 2.5em;
}

.lexicon {
    font-size: 42px;
    margin-bottom: 1em;
    line-height: 1.3;
}

.section {
    font-size: 42px;
    margin-bottom: 1.75em;
}

.license-header {
    font-size: 42px;
    margin-bottom: 0.75em;
}

.license {
    font-size: 32px;
    margin-bottom: 4em;
}
