<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>up-games-icon-000-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-000-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-015-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-015-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-030-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-030-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-045-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-045-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-060-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-060-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-075-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-075-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-090-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-090-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-105-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-105-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-120-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-120-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-135-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-135-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-150-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-150-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-165-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-165-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-180-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-180-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-195-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-195-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-210-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-210-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-225-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-225-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-240-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-240-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-255-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-255-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-270-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-270-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-285-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-285-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-300-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-300-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-315-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-315-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-330-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-330-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-345-60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-345-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>up-games-icon-000-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-000-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-000-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-000-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-015-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-015-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-015-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-015-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-030-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-030-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-030-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-030-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-045-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-045-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-045-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-045-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-060-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-060-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-060-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-060-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-075-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-075-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-075-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-075-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-090-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-090-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-090-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-090-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-105-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-105-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-105-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-105-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-120-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-120-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-120-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-120-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-135-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-135-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-135-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-135-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-150-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-150-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-150-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-150-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-165-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-165-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-165-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-165-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-180-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-180-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-180-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-180-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-195-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-195-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-195-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-195-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-210-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-210-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-210-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-210-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-225-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-225-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-225-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-225-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-240-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-240-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-240-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-240-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-255-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-255-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-255-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-255-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-270-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-270-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-270-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-270-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-285-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-285-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-285-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-285-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-300-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-300-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-300-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-300-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-315-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-315-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-315-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-315-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-330-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-330-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-330-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-330-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-345-76</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-345-76</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>up-games-icon-345-83</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>up-games-icon-345-83</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MalloryNrrw-Bold.otf</string>
		<string>MalloryCond-BlackItalic.otf</string>
		<string>MalloryCond-Black.otf</string>
		<string>MalloryCond-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>UPSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
